dbsettings.php should contain function setDBconn
Enter correct value for the varibales when creating the file.

<?php

function setDBconn() 
{
    $dbHost = ;
    $dbUsername = ;
    $dbPassword = ;
    $dbName = ;

   return  mysqli_connect($dbHost, $dbUsername, $dbPassword, $dbName);
}
